.reset-btn {
  width: 100%;
  margin-top: 1rem;
  margin-bottom: 1.5rem;
}

.success-message {
  text-align: center;
  margin-top: 1rem;
  
  p {
    margin-bottom: 1rem;
    color: var(--text-color);
    font-size: 0.9rem;
    line-height: 1.5;
  }
  
  .back-btn {
    margin-top: 1.5rem;
    display: inline-block;
  }
}

strong {
  font-weight: 500;
}

.btn-loader {
  display: flex;
  align-items: center;
  justify-content: center;
  
  .btn-text {
    margin-left: 0.5rem;
  }
} 